.space {
  opacity: 0;
}
.plus {
  position: relative;
  margin: 0 4px;
}
.main {
  position: absolute;
  width: 100%;
  left: 0;
  top: 50%;
  border-bottom: black solid 1px;
}
.main::after {
  content: '';
  position: absolute;
  width: 100%;
  border-bottom: black solid 1px;
  transform: rotate(90deg);
}
