$theme-color-primary: #973c3f;
$theme-color-primary-lighten: #973c3f1f;
$theme-color-secondary: #007bbb;
$theme-color-secondary-lighten: #007bbb1f;
$theme-color-tertiary: #aacf53;
$theme-color-tertiary-lighten: #aacf531f;
