@use '../../../mixin/mq.scss' as mq;

.column {
  @include mq.mq(pc) {
    max-width: 800px;
    margin: 36px auto;
  }
  @include mq.mq(tab) {
    margin: 24px;
  }
  @include mq.mq(sp) {
    margin: 24px;
  }
}
