.numerator-space {
  color: red;
  // opacity: 0;
}
.denominator-space {
  color: blue;
  // opacity: 0;
}
// .numerator {
//   position: absolute;
// }
// .denominator {
//   position: absolute;
// }
.fraction {
  display: inline-flex;
  flex-direction: column;
  align-items: center;
  position: relative;
  padding: 0 1px;
}
.fraction::after {
  content: '';
  border-bottom: 1px solid black;
  width: 100%;
  position: absolute;
  top: 25%;
}
