@font-face {
  font-family: 'math';
  src: url(/src/fonts/KaTeX_Math-Italic.ttf) format('truetype');
  src: url(/src/fonts/KaTeX_Math-Italic.woff) format('woff');
  src: url(/src/fonts/KaTeX_Math-Italic.woff2) format('truetype');
}
